.grafico-linea__contenedor {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30px repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-items: start;
}

.grafico-linea__plano {
    grid-column: 1/7;
    grid-row: 1/5;
    border-left: 3px solid #888;
    border-bottom: 3px solid #888;
    width: 97%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*lineas*/
}

.grafico-linea__label {
    margin-left: 30%;
    font-weight: 700;
    color: #666;
    text-decoration: overline;
}

.label1 {
    /*modificador*/
    grid-column: 2/3;
}

.grafico-linea__marcador {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
}

.marca1 {
    /*modificador*/
    background-color: #b90404;
}

.marca2 {
    /*modificador*/
    background-color: #d70000;
    transform: translateY(-150px);/*50%*/
}

.marca3 {
    /*modificador*/
    background-color: #ff0000;
}

.marca4 {
    /*modificador*/
    background-color: #ff4646;
}

.marca5 {
    /*modificador*/
    background-color: #ff8585;
}

.grafico-linea__linea {
    height: 100%;
    width: 158px;
    background-color: rgb(0, 0, 0);

}

.linea1 {
    /*modificador*/
    clip-path: polygon(0 96%,
            100% 52%,
            100% 51%,
            0 95%)
}

.linea2 {
    /*modificador*/
    clip-path: polygon(0 96%,
            100% 52%,
            100% 51%,
            0 95%)
}

.linea3 {
    /*modificador*/
    clip-path: polygon(0 96%,
            100% 52%,
            100% 51%,
            0 95%)
}

.linea4 {
    /*modificador*/
    clip-path: polygon(0 96%,
            100% 52%,
            100% 51%,
            0 95%)
}